In [74]:
import pandas as pd
import numpy as np

files = ["ap_2010.csv", "class_size.csv", "demographics.csv", "graduation.csv", "hs_directory.csv", "math_test_results.csv", "sat_results.csv"]

data = {}

for file in files:
    d = pd.read_csv("schools/{0}".format(file))
    data[file.replace(".csv", "")] = d

for k,v in data.items():
    print("\n" + k + "\n")
    print(v.head())

ap_2010

      DBN                             SchoolName AP Test Takers   \
0  01M448           UNIVERSITY NEIGHBORHOOD H.S.              39
1  01M450                 EAST SIDE COMMUNITY HS              19
2  01M515                    LOWER EASTSIDE PREP              24
3  01M539         NEW EXPLORATIONS SCI,TECH,MATH             255
4  02M296  High School of Hospitality Management             NaN

  Total Exams Taken Number of Exams with scores 3 4 or 5
0                49                                   10
1                21                                  NaN
2                26                                   24
3               377                                  191
4               NaN                                  NaN

class_size

   CSD BOROUGH SCHOOL CODE                SCHOOL NAME GRADE  PROGRAM TYPE  \
0    1       M        M015  P.S. 015 Roberto Clemente     0K       GEN ED
1    1       M        M015  P.S. 015 Roberto Clemente     0K          CTT
2    1       M        M015  P.S. 015 Roberto Clemente     01       GEN ED
3    1       M        M015  P.S. 015 Roberto Clemente     01          CTT
4    1       M        M015  P.S. 015 Roberto Clemente     02       GEN ED

  CORE SUBJECT (MS CORE and 9-12 ONLY) CORE COURSE (MS CORE and 9-12 ONLY)  \
0                                    -                                   -
1                                    -                                   -
2                                    -                                   -
3                                    -                                   -
4                                    -                                   -

  SERVICE CATEGORY(K-9* ONLY) NUMBER OF STUDENTS / SEATS FILLED  \
0                           -                                19
1                           -                                21
2                           -                                17
3                           -                                17
4                           -                                15

   NUMBER OF SECTIONS  AVERAGE CLASS SIZE  SIZE OF SMALLEST CLASS  \
0                 1.0                19.0                    19.0
1                 1.0                21.0                    21.0
2                 1.0                17.0                    17.0
3                 1.0                17.0                    17.0
4                 1.0                15.0                    15.0

   SIZE OF LARGEST CLASS DATA SOURCE  SCHOOLWIDE PUPIL-TEACHER RATIO
0                   19.0         ATS                             NaN
1                   21.0         ATS                             NaN
2                   17.0         ATS                             NaN
3                   17.0         ATS                             NaN
4                   15.0         ATS                             NaN

demographics

      DBN                       Name  schoolyear fl_percent  frl_percent  \
0  01M015  P.S. 015 ROBERTO CLEMENTE    20052006       89.4          NaN
1  01M015  P.S. 015 ROBERTO CLEMENTE    20062007       89.4          NaN
2  01M015  P.S. 015 ROBERTO CLEMENTE    20072008       89.4          NaN
3  01M015  P.S. 015 ROBERTO CLEMENTE    20082009       89.4          NaN
4  01M015  P.S. 015 ROBERTO CLEMENTE    20092010                    96.5

   total_enrollment prek   k grade1 grade2    ...     black_num black_per  \
0               281   15  36     40     33    ...            74      26.3
1               243   15  29     39     38    ...            68      28.0
2               261   18  43     39     36    ...            77      29.5
3               252   17  37     44     32    ...            75      29.8
4               208   16  40     28     32    ...            67      32.2

  hispanic_num hispanic_per white_num white_per male_num male_per female_num  \
0          189         67.3         5       1.8    158.0     56.2      123.0
1          153         63.0         4       1.6    140.0     57.6      103.0
2          157         60.2         7       2.7    143.0     54.8      118.0
3          149         59.1         7       2.8    149.0     59.1      103.0
4          118         56.7         6       2.9    124.0     59.6       84.0

  female_per
0       43.8
1       42.4
2       45.2
3       40.9
4       40.4

[5 rows x 38 columns]

graduation

    Demographic     DBN                            School Name    Cohort  \
0  Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL      2003
1  Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL      2004
2  Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL      2005
3  Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL      2006
4  Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL  2006 Aug

  Total Cohort Total Grads - n Total Grads - % of cohort Total Regents - n  \
0            5               s                         s                 s
1           55              37                      67.3                17
2           64              43                      67.2                27
3           78              43                      55.1                36
4           78              44                      56.4                37

  Total Regents - % of cohort Total Regents - % of grads  \
0                           s                          s
1                        30.9                       45.9
2                        42.2                       62.8
3                        46.2                       83.7
4                        47.4                       84.1

             ...            Regents w/o Advanced - n  \
0            ...                                   s
1            ...                                  17
2            ...                                  27
3            ...                                  36
4            ...                                  37

  Regents w/o Advanced - % of cohort Regents w/o Advanced - % of grads  \
0                                  s                                 s
1                               30.9                              45.9
2                               42.2                              62.8
3                               46.2                              83.7
4                               47.4                              84.1

  Local - n Local - % of cohort  Local - % of grads Still Enrolled - n  \
0         s                   s                   s                  s
1        20                36.4                54.1                 15
2        16                  25  37.200000000000003                  9
3         7                   9                16.3                 16
4         7                   9                15.9                 15

  Still Enrolled - % of cohort Dropped Out - n Dropped Out - % of cohort
0                            s               s                         s
1                         27.3               3                       5.5
2                         14.1               9                      14.1
3                         20.5              11                      14.1
4                         19.2              11                      14.1

[5 rows x 23 columns]

hs_directory

      dbn                                        school_name       boro  \
0  17K548                Brooklyn School for Music & Theatre   Brooklyn
1  09X543                   High School for Violin and Dance      Bronx
2  09X327        Comprehensive Model School Project M.S. 327      Bronx
3  02M280     Manhattan Early College School for Advertising  Manhattan
4  28Q680  Queens Gateway to Health Sciences Secondary Sc...     Queens

  building_code    phone_number    fax_number grade_span_min  grade_span_max  \
0          K440    718-230-6250  718-230-6262              9              12
1          X400    718-842-0687  718-589-9849              9              12
2          X240    718-294-8111  718-294-8109              6              12
3          M520  718-935-3477             NaN              9              10
4          Q695    718-969-3155  718-969-3552              6              12

  expgrade_span_min  expgrade_span_max  \
0               NaN                NaN
1               NaN                NaN
2               NaN                NaN
3                 9               14.0
4               NaN                NaN

                         ...                          \
0                        ...
1                        ...
2                        ...
3                        ...
4                        ...

                                          priority02  \
0                    Then to New York City residents
1  Then to New York City residents who attend an ...
2  Then to Bronx students or residents who attend...
3  Then to New York City residents who attend an ...
4  Then to Districts 28 and 29 students or residents

                                          priority03  \
0                                                NaN
1                Then to Bronx students or residents
2  Then to New York City residents who attend an ...
3          Then to Manhattan students or residents
4               Then to Queens students or residents

                            priority04                       priority05  \
0                                  NaN                              NaN
1      Then to New York City residents                              NaN
2  Then to Bronx students or residents  Then to New York City residents
3      Then to New York City residents                              NaN
4      Then to New York City residents                              NaN

  priority06  priority07 priority08  priority09 priority10  \
0        NaN         NaN        NaN         NaN        NaN
1        NaN         NaN        NaN         NaN        NaN
2        NaN         NaN        NaN         NaN        NaN
3        NaN         NaN        NaN         NaN        NaN
4        NaN         NaN        NaN         NaN        NaN

                                          Location 1
0  883 Classon Avenue\r\nBrooklyn, NY 11225\r\n(4...
1  1110 Boston Road\r\nBronx, NY 10456\r\n(40.827...
2  1501 Jerome Avenue\r\nBronx, NY 10452\r\n(40.8...
3  411 Pearl Street\r\nNew York, NY 10038\r\n(40....
4  160-20 Goethals Avenue\r\nJamaica, NY 11432\r\...

[5 rows x 58 columns]

math_test_results

      DBN Grade  Year      Category Number Tested Mean Scale Score Level 1 #  \
0  01M015     3  2006  All Students            39              667         2
1  01M015     3  2007  All Students            31              672         2
2  01M015     3  2008  All Students            37              668         0
3  01M015     3  2009  All Students            33              668         0
4  01M015     3  2010  All Students            26              677         6

  Level 1 % Level 2 # Level 2 % Level 3 # Level 3 % Level 4 # Level 4 %  \
0       5.1        11      28.2        20      51.3         6      15.4
1       6.5         3       9.7        22        71         4      12.9
2         0         6      16.2        29      78.4         2       5.4
3         0         4      12.1        28      84.8         1         3
4      23.1        12      46.2         6      23.1         2       7.7

  Level 3+4 # Level 3+4 %
0          26        66.7
1          26        83.9
2          31        83.8
3          29        87.9
4           8        30.8

sat_results

      DBN                                    SCHOOL NAME  \
0  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES
1  01M448            UNIVERSITY NEIGHBORHOOD HIGH SCHOOL
2  01M450                     EAST SIDE COMMUNITY SCHOOL
3  01M458                      FORSYTH SATELLITE ACADEMY
4  01M509                        MARTA VALLE HIGH SCHOOL

  Num of SAT Test Takers SAT Critical Reading Avg. Score SAT Math Avg. Score  \
0                     29                             355                 404
1                     91                             383                 423
2                     70                             377                 402
3                      7                             414                 401
4                     44                             390                 433

  SAT Writing Avg. Score
0                    363
1                    366
2                    370
3                    359
4                    384

In [75]:
data["demographics"]["DBN"].head()

0    01M015
1    01M015
2    01M015
3    01M015
4    01M015
Name: DBN, dtype: object

In [76]:
data["class_size"]["DBN"] = data["class_size"].apply(lambda x: "0{0}{1}".format(x["CSD"], x["SCHOOL CODE"]), axis=1)
data["hs_directory"]["DBN"] = data["hs_directory"]["dbn"]
data["hs_directory"].head()

,dbn,school_name,boro,building_code,phone_number,fax_number,grade_span_min,grade_span_max,expgrade_span_min,expgrade_span_max,...,priority03,priority04,priority05,priority06,priority07,priority08,priority09,priority10,Location 1,DBN
0,17K548,Brooklyn School for Music & Theatre,Brooklyn,K440,718-230-6250,718-230-6262,9,12,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"883 Classon Avenue\r\nBrooklyn, NY 11225\r\n(4...",17K548
1,09X543,High School for Violin and Dance,Bronx,X400,718-842-0687,718-589-9849,9,12,NaN,NaN,...,Then to Bronx students or residents,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,NaN,"1110 Boston Road\r\nBronx, NY 10456\r\n(40.827...",09X543
2,09X327,Comprehensive Model School Project M.S. 327,Bronx,X240,718-294-8111,718-294-8109,6,12,NaN,NaN,...,Then to New York City residents who attend an ...,Then to Bronx students or residents,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,"1501 Jerome Avenue\r\nBronx, NY 10452\r\n(40.8...",09X327
3,02M280,Manhattan Early College School for Advertising,Manhattan,M520,718-935-3477,NaN,9,10,9,14.0,...,Then to Manhattan students or residents,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,NaN,"411 Pearl Street\r\nNew York, NY 10038\r\n(40....",02M280
4,28Q680,Queens Gateway to Health Sciences Secondary Sc...,Queens,Q695,718-969-3155,718-969-3552,6,12,NaN,NaN,...,Then to Queens students or residents,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,NaN,"160-20 Goethals Avenue\r\nJamaica, NY 11432\r\...",28Q680

In [77]:
survey1 = pd.read_csv("schools/survey_all.txt", delimiter="\t", encoding='windows-1252')
survey2 = pd.read_csv("schools/survey_d75.txt", delimiter="\t", encoding='windows-1252')

In [78]:
survey1["d75"] = False
survey2["d75"] = True
survey = pd.concat([survey1, survey2], axis=0)
survey.head()

c:\users\imran\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

,N_p,N_s,N_t,aca_p_11,aca_s_11,aca_t_11,aca_tot_11,bn,com_p_11,com_s_11,...,t_q8c_1,t_q8c_2,t_q8c_3,t_q8c_4,t_q9,t_q9_1,t_q9_2,t_q9_3,t_q9_4,t_q9_5
0,90.0,NaN,22,7.8,NaN,7.9,7.9,M015,7.6,NaN,...,29.0,67.0,5.0,0.0,NaN,5.0,14.0,52.0,24.0,5.0
1,161.0,NaN,34,7.8,NaN,9.1,8.4,M019,7.6,NaN,...,74.0,21.0,6.0,0.0,NaN,3.0,6.0,3.0,78.0,9.0
2,367.0,NaN,42,8.6,NaN,7.5,8.0,M020,8.3,NaN,...,33.0,35.0,20.0,13.0,NaN,3.0,5.0,16.0,70.0,5.0
3,151.0,145.0,29,8.5,7.4,7.8,7.9,M034,8.2,5.9,...,21.0,45.0,28.0,7.0,NaN,0.0,18.0,32.0,39.0,11.0
4,90.0,NaN,23,7.9,NaN,8.1,8.0,M063,7.9,NaN,...,59.0,36.0,5.0,0.0,NaN,10.0,5.0,10.0,60.0,15.0

In [79]:
survey["DBN"] = survey["dbn"]
survey_fields = ["DBN", "rr_s", "rr_t", "rr_p", "N_s", "N_t", "N_p", "saf_p_11", "com_p_11", "eng_p_11", "aca_p_11", "saf_t_11", "com_t_11", "eng_t_10", "aca_t_11", "saf_s_11", "com_s_11", "eng_s_11", "aca_s_11", "saf_tot_11", "com_tot_11", "eng_tot_11", "aca_tot_11"]
survey = survey.loc[:,survey_fields]
data["survey"] = survey

In [80]:
data["sat_results"].head()

,DBN,SCHOOL NAME,Num of SAT Test Takers,SAT Critical Reading Avg. Score,SAT Math Avg. Score,SAT Writing Avg. Score
0,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355,404,363
1,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,91,383,423,366
2,01M450,EAST SIDE COMMUNITY SCHOOL,70,377,402,370
3,01M458,FORSYTH SATELLITE ACADEMY,7,414,401,359
4,01M509,MARTA VALLE HIGH SCHOOL,44,390,433,384

In [81]:
data["class_size"].head()

,CSD,BOROUGH,SCHOOL CODE,SCHOOL NAME,GRADE,PROGRAM TYPE,CORE SUBJECT (MS CORE and 9-12 ONLY),CORE COURSE (MS CORE and 9-12 ONLY),SERVICE CATEGORY(K-9* ONLY),NUMBER OF STUDENTS / SEATS FILLED,NUMBER OF SECTIONS,AVERAGE CLASS SIZE,SIZE OF SMALLEST CLASS,SIZE OF LARGEST CLASS,DATA SOURCE,SCHOOLWIDE PUPIL-TEACHER RATIO,DBN
0,1,M,M015,P.S. 015 Roberto Clemente,0K,GEN ED,-,-,-,19,1.0,19.0,19.0,19.0,ATS,NaN,01M015
1,1,M,M015,P.S. 015 Roberto Clemente,0K,CTT,-,-,-,21,1.0,21.0,21.0,21.0,ATS,NaN,01M015
2,1,M,M015,P.S. 015 Roberto Clemente,01,GEN ED,-,-,-,17,1.0,17.0,17.0,17.0,ATS,NaN,01M015
3,1,M,M015,P.S. 015 Roberto Clemente,01,CTT,-,-,-,17,1.0,17.0,17.0,17.0,ATS,NaN,01M015
4,1,M,M015,P.S. 015 Roberto Clemente,02,GEN ED,-,-,-,15,1.0,15.0,15.0,15.0,ATS,NaN,01M015

In [72]:
class_size = data["class_size"]
class_size = class_size[class_size["GRADE "] == "09-12"]
class_size = class_size[class_size["PROGRAM TYPE"] == "GEN ED"]
class_size

,CSD,BOROUGH,SCHOOL CODE,SCHOOL NAME,GRADE,PROGRAM TYPE,CORE SUBJECT (MS CORE and 9-12 ONLY),CORE COURSE (MS CORE and 9-12 ONLY),SERVICE CATEGORY(K-9* ONLY),NUMBER OF STUDENTS / SEATS FILLED,NUMBER OF SECTIONS,AVERAGE CLASS SIZE,SIZE OF SMALLEST CLASS,SIZE OF LARGEST CLASS,DATA SOURCE,SCHOOLWIDE PUPIL-TEACHER RATIO,DBN
225,1,M,M292,Henry Street School for International Studies,09-12,GEN ED,ENGLISH,English 9,-,63,3.0,21.0,19.0,25.0,STARS,NaN,01M292
226,1,M,M292,Henry Street School for International Studies,09-12,GEN ED,ENGLISH,English 10,-,79,3.0,26.3,24.0,31.0,STARS,NaN,01M292
227,1,M,M292,Henry Street School for International Studies,09-12,GEN ED,ENGLISH,English 11,-,38,2.0,19.0,16.0,22.0,STARS,NaN,01M292
228,1,M,M292,Henry Street School for International Studies,09-12,GEN ED,ENGLISH,English 12,-,69,3.0,23.0,13.0,30.0,STARS,NaN,01M292
229,1,M,M292,Henry Street School for International Studies,09-12,GEN ED,MATH,Integrated Algebra,-,53,3.0,17.7,16.0,21.0,STARS,NaN,01M292
231,1,M,M292,Henry Street School for International Studies,09-12,GEN ED,MATH,Geometry,-,32,1.0,32.0,32.0,32.0,STARS,NaN,01M292
232,1,M,M292,Henry Street School for International Studies,09-12,GEN ED,MATH,Other Math,-,118,6.0,19.7,13.0,27.0,STARS,NaN,01M292
233,1,M,M292,Henry Street School for International Studies,09-12,GEN ED,SCIENCE,Earth Science,-,125,4.0,31.3,28.0,35.0,STARS,NaN,01M292
234,1,M,M292,Henry Street School for International Studies,09-12,GEN ED,SCIENCE,Living Environment,-,58,2.0,29.0,29.0,29.0,STARS,NaN,01M292
235,1,M,M292,Henry Street School for International Studies,09-12,GEN ED,SCIENCE,Chemistry,-,157,8.0,19.6,13.0,24.0,STARS,NaN,01M292
236,1,M,M292,Henry Street School for International Studies,09-12,GEN ED,SCIENCE,Physics,-,13,1.0,13.0,13.0,13.0,STARS,NaN,01M292
237,1,M,M292,Henry Street School for International Studies,09-12,GEN ED,SCIENCE,Other Science,-,85,4.0,21.3,18.0,24.0,STARS,NaN,01M292
238,1,M,M292,Henry Street School for International Studies,09-12,GEN ED,SOCIAL STUDIES,Global History & Geography,-,156,7.0,22.3,10.0,31.0,STARS,NaN,01M292
239,1,M,M292,Henry Street School for International Studies,09-12,GEN ED,SOCIAL STUDIES,US History & Government,-,186,9.0,20.7,15.0,28.0,STARS,NaN,01M292
295,1,M,M332,University Neighborhood Middle School,09-12,GEN ED,ENGLISH,MS English Core,-,20,1.0,20.0,20.0,20.0,STARS,NaN,01M332
296,1,M,M332,University Neighborhood Middle School,09-12,GEN ED,ENGLISH,Other English,-,72,3.0,24.0,22.0,27.0,STARS,NaN,01M332
354,1,M,M378,School for Global Leaders,09-12,GEN ED,MATH,Integrated Algebra,-,33,1.0,33.0,33.0,33.0,STARS,NaN,01M378
356,1,M,M448,University Neighborhood High School,09-12,GEN ED,ENGLISH,English 9,-,53,3.0,17.7,13.0,27.0,STARS,NaN,01M448
357,1,M,M448,University Neighborhood High School,09-12,GEN ED,ENGLISH,English 10,-,83,5.0,16.6,10.0,26.0,STARS,NaN,01M448
358,1,M,M448,University Neighborhood High School,09-12,GEN ED,ENGLISH,English 11,-,85,4.0,21.3,16.0,26.0,STARS,NaN,01M448
359,1,M,M448,University Neighborhood High School,09-12,GEN ED,ENGLISH,English 12,-,122,6.0,20.3,13.0,29.0,STARS,NaN,01M448
360,1,M,M448,University Neighborhood High School,09-12,GEN ED,MATH,Integrated Algebra,-,142,6.0,23.7,17.0,31.0,STARS,NaN,01M448
361,1,M,M448,University Neighborhood High School,09-12,GEN ED,MATH,Geometry,-,18,1.0,18.0,18.0,18.0,STARS,NaN,01M448
362,1,M,M448,University Neighborhood High School,09-12,GEN ED,MATH,Trigonometry,-,175,7.0,25.0,19.0,29.0,STARS,NaN,01M448
363,1,M,M448,University Neighborhood High School,09-12,GEN ED,MATH,Other Math,-,25,1.0,25.0,25.0,25.0,STARS,NaN,01M448
364,1,M,M448,University Neighborhood High School,09-12,GEN ED,SCIENCE,Earth Science,-,38,2.0,19.0,19.0,19.0,STARS,NaN,01M448
365,1,M,M448,University Neighborhood High School,09-12,GEN ED,SCIENCE,Living Environment,-,264,10.0,26.4,24.0,32.0,STARS,NaN,01M448
366,1,M,M448,University Neighborhood High School,09-12,GEN ED,SCIENCE,Chemistry,-,108,4.0,27.0,23.0,31.0,STARS,NaN,01M448
367,1,M,M448,University Neighborhood High School,09-12,GEN ED,SCIENCE,Physics,-,46,2.0,23.0,23.0,23.0,STARS,NaN,01M448
368,1,M,M448,University Neighborhood High School,09-12,GEN ED,SCIENCE,Other Science,-,58,2.0,29.0,29.0,29.0,STARS,NaN,01M448
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27569,32,K,K554,All City Leadership Secondary School,09-12,GEN ED,SOCIAL STUDIES,Other Social Studies,-,22,1.0,22.0,22.0,22.0,STARS,NaN,032K554
27571,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,ENGLISH,English 9,-,144,7.0,20.6,12.0,26.0,STARS,NaN,032K556
27572,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,ENGLISH,English 10,-,92,4.0,23.0,13.0,30.0,STARS,NaN,032K556
27573,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,ENGLISH,English 11,-,103,4.0,25.8,21.0,30.0,STARS,NaN,032K556
27574,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,ENGLISH,English 12,-,122,5.0,24.4,11.0,33.0,STARS,NaN,032K556
27575,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,MATH,Integrated Algebra,-,163,6.0,27.2,18.0,31.0,STARS,NaN,032K556
27576,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,MATH,Geometry,-,112,7.0,16.0,10.0,24.0,STARS,NaN,032K556
27577,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,MATH,Trigonometry,-,35,2.0,17.5,12.0,23.0,STARS,NaN,032K556
27578,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,SCIENCE,Living Environment,-,93,4.0,23.3,21.0,25.0,STARS,NaN,032K556
27579,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,SCIENCE,Chemistry,-,201,8.0,25.1,21.0,29.0,STARS,NaN,032K556
27580,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,SCIENCE,Physics,-,68,2.0,34.0,34.0,34.0,STARS,NaN,032K556
27581,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,SCIENCE,Other Science,-,313,12.0,26.1,18.0,33.0,STARS,NaN,032K556
27582,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,SOCIAL STUDIES,Global History & Geography,-,289,11.0,26.3,15.0,34.0,STARS,NaN,032K556
27583,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,SOCIAL STUDIES,US History & Government,-,128,5.0,25.6,13.0,32.0,STARS,NaN,032K556
27584,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,SOCIAL STUDIES,Economics,-,59,2.0,29.5,26.0,33.0,STARS,NaN,032K556
27585,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,SOCIAL STUDIES,Participation in Government,-,63,2.0,31.5,30.0,33.0,STARS,NaN,032K556
27595,32,K,K564,Bushwick Community High School,09-12,GEN ED,ENGLISH,English 9,-,261,10.0,26.1,17.0,35.0,STARS,NaN,032K564
27596,32,K,K564,Bushwick Community High School,09-12,GEN ED,ENGLISH,English 10,-,102,4.0,25.5,17.0,30.0,STARS,NaN,032K564
27597,32,K,K564,Bushwick Community High School,09-12,GEN ED,ENGLISH,English 11,-,144,6.0,24.0,21.0,28.0,STARS,NaN,032K564
27598,32,K,K564,Bushwick Community High School,09-12,GEN ED,ENGLISH,English 12,-,132,5.0,26.4,19.0,29.0,STARS,NaN,032K564
27599,32,K,K564,Bushwick Community High School,09-12,GEN ED,MATH,Integrated Algebra,-,342,14.0,24.4,19.0,28.0,STARS,NaN,032K564
27600,32,K,K564,Bushwick Community High School,09-12,GEN ED,MATH,Math A,-,23,1.0,23.0,23.0,23.0,STARS,NaN,032K564
27601,32,K,K564,Bushwick Community High School,09-12,GEN ED,SCIENCE,Earth Science,-,24,2.0,12.0,12.0,12.0,STARS,NaN,032K564
27602,32,K,K564,Bushwick Community High School,09-12,GEN ED,SCIENCE,Living Environment,-,161,6.0,26.8,17.0,31.0,STARS,NaN,032K564
27603,32,K,K564,Bushwick Community High School,09-12,GEN ED,SCIENCE,Chemistry,-,57,2.0,28.5,27.0,30.0,STARS,NaN,032K564
27604,32,K,K564,Bushwick Community High School,09-12,GEN ED,SCIENCE,Physics,-,49,2.0,24.5,22.0,27.0,STARS,NaN,032K564
27605,32,K,K564,Bushwick Community High School,09-12,GEN ED,SOCIAL STUDIES,Global History & Geography,-,237,10.0,23.7,15.0,31.0,STARS,NaN,032K564
27606,32,K,K564,Bushwick Community High School,09-12,GEN ED,SOCIAL STUDIES,US History & Government,-,256,10.0,25.6,15.0,35.0,STARS,NaN,032K564
27607,32,K,K564,Bushwick Community High School,09-12,GEN ED,SOCIAL STUDIES,Economics,-,65,2.0,32.5,32.0,33.0,STARS,NaN,032K564
27608,32,K,K564,Bushwick Community High School,09-12,GEN ED,SOCIAL STUDIES,Participation in Government,-,53,2.0,26.5,25.0,28.0,STARS,NaN,032K564

In [84]:
class_size = class_size.groupby("DBN").agg(np.mean)
class_size.reset_index(inplace=True)
data["class_size"] = class_size
data["class_size"]

,DBN,CSD,NUMBER OF SECTIONS,AVERAGE CLASS SIZE,SIZE OF SMALLEST CLASS,SIZE OF LARGEST CLASS,SCHOOLWIDE PUPIL-TEACHER RATIO
0,010X080,10,1.000000,25.000000,25.000000,25.000000,NaN
1,010X095,10,8.000000,25.400000,19.000000,29.000000,NaN
2,010X118,10,7.000000,28.100000,27.000000,31.000000,NaN
3,010X141,10,5.176471,26.794118,21.352941,30.705882,NaN
4,010X206,10,12.000000,27.000000,21.000000,32.000000,NaN
5,010X213,10,3.076923,22.023077,18.692308,25.769231,NaN
6,010X225,10,2.800000,25.040000,23.266667,26.733333,NaN
7,010X237,10,4.250000,25.812500,19.875000,32.062500,NaN
8,010X243,10,3.357143,25.042857,21.357143,27.928571,NaN
9,010X244,10,2.500000,23.025000,21.500000,24.500000,NaN
10,010X254,10,9.000000,27.700000,23.000000,34.000000,NaN
11,010X268,10,6.571429,29.628571,27.000000,32.428571,NaN
12,010X284,10,3.823529,23.358824,16.764706,28.941176,NaN
13,010X315,10,3.500000,22.000000,20.000000,24.000000,NaN
14,010X319,10,3.571429,16.957143,14.571429,22.000000,NaN
15,010X342,10,5.538462,23.723077,16.615385,28.769231,NaN
16,010X368,10,4.600000,26.266667,20.133333,30.600000,NaN
17,010X374,10,5.333333,22.750000,17.111111,28.444444,NaN
18,010X390,10,1.000000,29.000000,29.000000,29.000000,NaN
19,010X391,10,1.000000,19.000000,19.000000,19.000000,NaN
20,010X397,10,8.800000,17.940000,14.500000,21.400000,NaN
21,010X399,10,2.000000,28.000000,28.000000,28.000000,NaN
22,010X433,10,5.312500,20.800000,16.250000,24.312500,NaN
23,010X434,10,5.600000,22.360000,17.133333,27.666667,NaN
24,010X437,10,2.764706,22.888235,18.823529,26.470588,NaN
25,010X438,10,3.937500,21.356250,17.437500,25.000000,NaN
26,010X439,10,4.705882,21.729412,16.882353,25.588235,NaN
27,010X440,10,28.736842,26.052632,14.631579,32.315789,NaN
28,010X442,10,3.833333,23.261111,19.388889,26.666667,NaN
29,010X445,10,23.000000,31.163158,23.368421,34.210526,NaN
...,...,...,...,...,...,...,...
553,08X650,8,9.666667,24.483333,16.666667,30.250000,NaN
554,09X218,9,9.000000,26.700000,24.000000,28.000000,NaN
555,09X219,9,6.500000,25.350000,14.500000,32.000000,NaN
556,09X227,9,3.500000,22.714286,17.357143,28.357143,NaN
557,09X231,9,4.666667,25.473333,19.866667,30.333333,NaN
558,09X232,9,15.000000,25.300000,16.000000,31.000000,NaN
559,09X239,9,1.764706,21.252941,19.294118,23.235294,NaN
560,09X241,9,5.352941,21.529412,17.823529,25.000000,NaN
561,09X250,9,3.076923,24.607692,20.384615,29.384615,NaN
562,09X252,9,3.214286,27.714286,23.857143,31.857143,NaN
563,09X260,9,5.000000,22.670588,16.352941,28.823529,NaN
564,09X263,9,3.928571,26.285714,22.785714,29.142857,NaN
565,09X276,9,2.117647,22.100000,18.000000,25.705882,NaN
566,09X297,9,3.733333,22.846667,18.000000,27.666667,NaN
567,09X303,9,1.000000,19.000000,19.000000,19.000000,NaN
568,09X313,9,7.000000,27.050000,24.000000,32.000000,NaN
569,09X324,9,3.125000,27.962500,26.000000,30.000000,NaN
570,09X325,9,2.000000,25.000000,24.000000,26.000000,NaN
571,09X327,9,26.000000,25.300000,22.000000,29.000000,NaN
572,09X329,9,4.500000,22.885714,15.857143,28.785714,NaN
573,09X365,9,4.500000,23.714286,18.357143,28.000000,NaN
574,09X403,9,10.222222,15.611111,12.444444,22.000000,NaN
575,09X404,9,4.900000,24.300000,20.900000,30.200000,NaN
576,09X412,9,6.923077,23.184615,17.230769,29.307692,NaN
577,09X413,9,4.285714,26.035714,21.500000,30.357143,NaN
578,09X414,9,6.090909,24.690909,19.181818,29.727273,NaN
579,09X505,9,3.476190,27.766667,23.142857,31.333333,NaN
580,09X517,9,3.437500,22.956250,17.562500,27.500000,NaN
581,09X525,9,5.375000,26.868750,22.812500,30.687500,NaN
582,09X543,9,1.375000,22.500000,20.625000,24.500000,NaN